<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" manifest="/manifest.text"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" manifest="/manifest.text"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" manifest="/manifest.text"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" manifest="/manifest.text"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- tags -->
    <meta name="keywords" content="<%= default_keywords_helper %>" />
    <meta name="description" content="<%= default_description_helper %>" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PGTune" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152-precomposed.png" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png" />
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png" />
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-precomposed.png" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicons/favicon.png" />
    <link rel="icon" type="image/ico" href="/images/favicons/favicon.ico" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "PGTune" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application", async: "async" %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <div class="row">
        <div class="large-12 columns">
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        </div>
      </div>
    <![endif]-->
    <%= yield %>
  </body>
</html>